.my-list {
  list-style: upper-alpha;
  font-size: 30px;
  color: darkslategrey;
  width: fit-content;
}

.my-list li:nth-child(odd) {
  background-color: chocolate;
}

.my-list li:nth-child(even) {
  background-color:aqua;
}

.my-list li:hover {
  font-weight: bolder;
}